[submodule "src/cukinia"]
	path = src/cukinia
	url = https://github.com/savoirfairelinux/cukinia.git
[submodule "src/test-report-pdf"]
	path = src/test-report-pdf
	url = https://github.com/savoirfairelinux/test-report-pdf.git
