#!/bin/sh

configure_and_activate_app() {
    mkdir -p /platform/apps/gapi-conformance-tests/ || {
        echo >&2 -e "Error: Failed to create app directory on board"
        exit 1
    }
    cp /tmp/GAPI-tests/gapi-conformance-tests.squashfs /platform/apps/gapi-conformance-tests/gapi-conformance-tests-0.1.squashfs || {
        echo >&2 -e "Error: Failed to copy app to app directory"
        exit 1
    }
    /usr/sbin/manage_package.sh install gapi-conformance-tests 0.1 gapi-conformance-tests 1000 1000 || {
        echo >&2 -e "Error: Failed to install app on board"
        exit 1
    }
    /usr/sbin/manage_package.sh activate gapi-conformance-tests || {
        echo >&2 -e "Error: Failed to activate app on board"
        exit 1
    }
}

launch_app_with_report() {
    configure_and_activate_app

    lxc-execute -P /platform/lxc -n gapi-conformance-tests --share-net 1 \
    -- /etc/cukinia/cukinia -f junitxml -o /geisa-api-conformance-report.xml /etc/GEISA-API-tests/cukinia.conf

    cp /platform/lxc/gapi-conformance-tests/rootfs/geisa-api-conformance-report.xml /tmp/GAPI-tests/rootfs/geisa-api-conformance-report.xml
}

launch_app_without_report() {
    configure_and_activate_app

    lxc-execute -P /platform/lxc -n gapi-conformance-tests --share-net 1 \
    -- /etc/cukinia/cukinia /etc/GEISA-API-tests/cukinia.conf
}

clean_up() {
    /usr/sbin/manage_package.sh deactivate gapi-conformance-tests
    /usr/sbin/manage_package.sh uninstall gapi-conformance-tests 0.1
    rm -rf /platform/apps/gapi-conformance-tests/
}

case "$1" in
    "report")
        echo "Launching gapi_test_app with report configuration..."
        launch_app_with_report
        ;;
    "no-report")
        echo "Launching gapi_test_app with no-report configuration..."
        launch_app_without_report
        ;;
    "clean")
        echo "Cleaning up mounted filesystems and temporary directories..."
        clean_up
        ;;
    *)
        echo "Unknown argument: $1"
        exit 1
        ;;
esac
