# Copyright (C) 2025 Southern California Edison.
# SPDX-License-Identifier: Apache-2.0

name: CI Conformance

on: 
    push:
        branches: [main]
    pull_request_target:

jobs:
    shellcheck:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  ref: ${{ github.event.pull_request.head.sha || github.sha }}
            - name: Run static test
              uses: ludeeus/action-shellcheck@2.0.0
              env:
                  SHELLCHECK_OPTS: -xo all launch_conformance_tests.sh
    pylint:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  ref: ${{ github.event.pull_request.head.sha || github.sha }}
            - name: Install python
              uses: actions/setup-python@v4
              with:
                  python-version: '3.12'
            - name: Install pylint and dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install pylint pexpect pyserial
            - name: Run pylint
              run: |
                  pylint src/launch_glee_conformance_tests_serial.py
    black:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  ref: ${{ github.event.pull_request.head.sha || github.sha }}
            - name: Install python
              uses: actions/setup-python@v4
              with:
                  python-version: '3.12'
            - name: Install black
              run: |
                  python -m pip install --upgrade pip
                  pip install black
            - name: Run black
              run: |
                  black --check --diff src/launch_glee_conformance_tests_serial.py
    clang-format:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  ref: ${{ github.event.pull_request.head.sha || github.sha }}
            - name: Install clang-format
              run: |
                  sudo apt-get update
                  sudo apt-get install -y clang-format
            - name: Run clang-format
              run: |
                  clang-format --Werror --dry-run src/GEISA-API-tests/src/*.c src/GEISA-API-tests/src/*.h
    clang-tidy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  ref: ${{ github.event.pull_request.head.sha || github.sha }}
            - name: Install clang-tidy
              run: |
                  sudo apt-get update
                  sudo apt-get install -y clang-tidy
            - name: Run clang-tidy
              run: |
                  clang-tidy -warnings-as-errors=*  -checks=readability-*,clang-analyzer-* src/GEISA-API-tests/src/*.c src/GEISA-API-tests/src/*.h
    on-target-tests-ssh-imx93:
        uses: ./.github/workflows/ci-conformance-on-target-ssh.yml
        with:
            runner: imx93
        secrets:
            target_ip: ${{ secrets.IMX93_TARGET_IP }}
            target_password: ${{ secrets.IMX93_TARGET_PASSWORD }}
        needs: [shellcheck, pylint, black, clang-format, clang-tidy]
    on-target-tests-serial-imx93:
        uses: ./.github/workflows/ci-conformance-on-target-serial.yml
        with:
            runner: imx93
            target_tty: /dev/ttyGEISA_imx93
        secrets:
            target_password: ${{ secrets.IMX93_TARGET_PASSWORD }}
        needs: [shellcheck, pylint, black, clang-format, clang-tidy, on-target-tests-ssh-imx93]
