# Copyright (C) 2025 Southern California Edison.
# SPDX-License-Identifier: Apache-2.0

name: CI Conformance

on: 
    push:
        branches: [main]
    pull_request_target:

jobs:
    shellcheck:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  ref: ${{ github.event.pull_request.head.sha || github.sha }}
            - name: Install CQFD and create docker image
              run: |
                  curl -LO https://github.com/savoirfairelinux/cqfd/releases/download/v5.8.0/cqfd_5.8.0_all.deb
                  sudo dpkg -i ./cqfd_5.8.0_all.deb
                  cqfd init
            - name: Run shellcheck
              run: |
                  cqfd -b shellcheck
    pylint:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  ref: ${{ github.event.pull_request.head.sha || github.sha }}
            - name: Install CQFD and create docker image
              run: |
                  curl -LO https://github.com/savoirfairelinux/cqfd/releases/download/v5.8.0/cqfd_5.8.0_all.deb
                  sudo dpkg -i ./cqfd_5.8.0_all.deb
                  cqfd init
            - name: Run pylint
              run: |
                  cqfd -b pylint
    black:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  ref: ${{ github.event.pull_request.head.sha || github.sha }}
            - name: Install CQFD and create docker image
              run: |
                  curl -LO https://github.com/savoirfairelinux/cqfd/releases/download/v5.8.0/cqfd_5.8.0_all.deb
                  sudo dpkg -i ./cqfd_5.8.0_all.deb
                  cqfd init
            - name: Run black
              run: |
                  cqfd -b black
    clang-format:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  ref: ${{ github.event.pull_request.head.sha || github.sha }}
            - name: Install CQFD and create docker image
              run: |
                  curl -LO https://github.com/savoirfairelinux/cqfd/releases/download/v5.8.0/cqfd_5.8.0_all.deb
                  sudo dpkg -i ./cqfd_5.8.0_all.deb
                  cqfd init
            - name: Run clang-format
              run: |
                  cqfd -b clang-format
    clang-tidy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  ref: ${{ github.event.pull_request.head.sha || github.sha }}
            - name: Install CQFD and create docker image
              run: |
                  curl -LO https://github.com/savoirfairelinux/cqfd/releases/download/v5.8.0/cqfd_5.8.0_all.deb
                  sudo dpkg -i ./cqfd_5.8.0_all.deb
                  cqfd init
            - name: Run clang-tidy
              run: |
                  cqfd -b clang-tidy
    on-target-tests-ssh-imx93:
        uses: ./.github/workflows/ci-conformance-on-target-ssh.yml
        with:
            runner: imx93
        secrets:
            target_ip: ${{ secrets.IMX93_TARGET_IP }}
            target_password: ${{ secrets.IMX93_TARGET_PASSWORD }}
        needs: [shellcheck, pylint, black, clang-format, clang-tidy]
    on-target-tests-serial-imx93:
        uses: ./.github/workflows/ci-conformance-on-target-serial.yml
        with:
            runner: imx93
            target_tty: /dev/ttyGEISA_imx93
        secrets:
            target_password: ${{ secrets.IMX93_TARGET_PASSWORD }}
        needs: [shellcheck, pylint, black, clang-format, clang-tidy, on-target-tests-ssh-imx93]
